/**
 * Created by king on 2015/9/10.
 */

<% include header.ejs %>
<h1>Welcome To The <%= title%> Page</h1>

    <form role="form" class="col-md-offset-8 col-md-4 form-horizontal" method="post" action="register">
    <div class="form-group">
    <label class="col-md-3 control-label" for="username">UserName:</label>
<div class="col-md-8">
    <input class="form-control" type="text" id="username" name="username" />
    </div>
    </div>
    <div class="form-group">
    <label class="col-md-3 control-label" for="password">Password:</label>
<div class="col-md-8">
    <input class="form-control" type="text" id="password" name="password" />
    </div>
    </div>
    <button class="col-md-offset-4 btn btn-primary" type="submit">Login</button>
    <button class="col-md-offset-2 btn btn-primary">Sign</button>
    </form>
    <% include footer.ejs %>
